body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  .container {
    background: linear-gradient(
      to bottom,
      #a07f5a 33%,
      #b38a5f 33% 66%,
      #c69b72 66%
    );
  }

  div #window {
    content: url("/assets/svg/window-dark.svg");
  }
}

@media (prefers-color-scheme: light) {
  .container {
    background: linear-gradient(
      to bottom,
      #d1ad7f 33%,
      #edc590 33% 66%,
      #ffd59c 66%
    );
  }

  div #window {
    content: url("/assets/svg/window-light.svg");
  }
}

.container {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  vertical-align: middle;
}

a .icon {
  padding: 0;
  margin: 0;
  display: block;
}

.top-row,
.bottom-row {
  display: flex;
  justify-content: space-between;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;

  @media (min-width: 1024px) {
    width: 58.333333%;
  }
}

.icon {
  height: 100%;
  width: 100%;
  max-width: 3.5rem;
  max-height: 3.5rem;
}

.large-svg {
  width: 100%;

  @media (min-width: 1024px) {
    width: 58.333333%;
  }
}

.hover-effect {
  transition: transform 0.15s ease-in-out;
}

.hover-effect:hover {
  transform: translateY(-0.25rem) scale(1.1);
}
